In [1]:
import numpy as np
import pandas as pd
import xml.etree.ElementTree as ET

### APERTURA DE LOS ARCHIVOS PROPORCIONADOS

In [2]:
# Primer fichero csv
csv1 = pd.read_csv('../datos/data_remaning_kaggle.csv')
csv1.head()

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# En este apartado hemos eliminado la columna "Unnamed: 0" :
csv1 = csv1.drop(['Unnamed: 0', 'index'], axis=1)

In [4]:
csv1.head()

,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Segundo fichero csv
csv2 = pd.read_csv('../datos/exported_db_data.csv')
csv2.head()

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Eliminamos la columna index
csv2 = csv2.drop(['index'], axis=1)
csv2.head(2)

,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Fichero txt
conversion_txt = pd.read_csv('../datos/data_txt_clean.txt', delimiter=';') 
conversion_txt.head()

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelorâ€™s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,2,Pakistan,Masterâ€™s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,...,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI

In [8]:
# Eliminamos la columna index
conversion_txt = conversion_txt.drop(['index'], axis=1)
conversion_txt.head(2)

,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,India,Bachelorâ€™s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN

In [9]:
# Fichero xml
conversion_xml = pd.read_xml('../datos/data_xml_clean.xml') 
conversion_xml

       level_0  index  time    age gender
0            0      0   910  50-54    Man
1            1      1   784  50-54    Man
2            2      2   924  22-24    Man
3            3      3   575  45-49    Man
4            4      4   781  45-49    Man
...        ...    ...   ...    ...    ...
25968    25968  25968  1756  30-34    Man
25969    25969  25969   253  22-24    Man
25970    25970  25970   494  50-54    Man
25971    25971  25971   277  45-49    Man
25972    25972  25972   255  18-21    Man

[25973 rows x 5 columns]

In [10]:
# Eliminamos las columnas level_0 e index
conversion_xml = conversion_xml.drop(['level_0', 'index'], axis =1)
conversion_xml

       time    age gender
0       910  50-54    Man
1       784  50-54    Man
2       924  22-24    Man
3       575  45-49    Man
4       781  45-49    Man
...     ...    ...    ...
25968  1756  30-34    Man
25969   253  22-24    Man
25970   494  50-54    Man
25971   277  45-49    Man
25972   255  18-21    Man

[25973 rows x 3 columns]

### ExploraciÃ³n de los datos de cada archivo

In [11]:
# FunciÃ³n con todas las propiedades para hacer una exploraciÃ³n inicial de los dataframes.
def df_exploracion(dataframe):
  
    """
    Funcion que nos permite hacer una exploraciÃ³n
    de un dataframe
        
    Args:
      dataframe: es el dataframe que queremos explorar
            
    Returns:
      prints con la exploraciÃ³n del dataframe
                    
    """  
       
     print(f"TamaÃ±o del DataFrame: {dataframe.size}")
     print("---------")
     print(f"(El nÃºmero de filas y columnas del DataFrame: {dataframe.shape}")
     print("----------")
     print(f"DescripciÃ³n estadÃ­stica del DataFrame:")
     display(dataframe.describe())
     print("--------")
     print(f"InformaciÃ³n general del DataFrame:")
     display(dataframe.info())
     print("--------")
     print(f"Las columnas de este DataFrame son {dataframe.columns}")
     print("----------")
     print(f"Tipo de dato de las columnas de este DataFrame:{dataframe.dtypes}")

In [12]:
df_exploracion(csv1)

TamaÃ±o del DataFrame: 5506276
---------
(El nÃºmero de filas y columnas del DataFrame: (25973, 212)
----------
DescripciÃ³n estadÃ­stica del DataFrame:

,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

--------
InformaciÃ³n general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Columns: 212 entries, Q18_Part_1 to Q38_B_OTHER
dtypes: float64(8), object(204)
memory usage: 42.0+ MB

None

--------
Las columnas de este DataFrame son Index(['Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3', 'Q18_Part_4', 'Q18_Part_5',
       'Q18_Part_6', 'Q18_OTHER', 'Q19_Part_1', 'Q19_Part_2', 'Q19_Part_3',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=212)
----------
Tipo de dato de las columnas de este DataFrame:Q18_Part_1       object
Q18_Part_2       object
Q18_Part_3       object
Q18_Part_4       object
Q18_Part_5       object
                  ...
Q38_B_Part_8     object
Q38_B_Part_9     object
Q38_B_Part_10    object
Q38_B_Part_11    object
Q38_B_OTHER      object
Length: 212, dtype: object

In [13]:
df_exploracion(csv2)

TamaÃ±o del DataFrame: 441541
---------
(El nÃºmero de filas y columnas del DataFrame: (25973, 17)
----------
DescripciÃ³n estadÃ­stica del DataFrame:

,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
count,9507,9792,1062,209,1770,175,1067,753,348,2051,1794,590,251,260,147,7174,737
unique,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
top,Kaggle Notebooks,Colab Notebooks,Azure Notebooks,Paperspace / Gradient,Binder / JupyterHub,Code Ocean,IBM Watson Studio,Amazon Sagemaker Studio Notebooks,Amazon EMR Notebooks,Google Cloud Notebooks (AI Platform / Vertex AI),Google Cloud Datalab,Databricks Collaborative Notebooks,Zeppelin / Zepl Notebooks,Deepnote Notebooks,Observable Notebooks,None,Other
freq,9507,9792,1062,209,1770,175,1067,753,348,2051,1794,590,251,260,147,7174,737

--------
InformaciÃ³n general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Q10_Part_1   9507 non-null   object
 1   Q10_Part_2   9792 non-null   object
 2   Q10_Part_3   1062 non-null   object
 3   Q10_Part_4   209 non-null    object
 4   Q10_Part_5   1770 non-null   object
 5   Q10_Part_6   175 non-null    object
 6   Q10_Part_7   1067 non-null   object
 7   Q10_Part_8   753 non-null    object
 8   Q10_Part_9   348 non-null    object
 9   Q10_Part_10  2051 non-null   object
 10  Q10_Part_11  1794 non-null   object
 11  Q10_Part_12  590 non-null    object
 12  Q10_Part_13  251 non-null    object
 13  Q10_Part_14  260 non-null    object
 14  Q10_Part_15  147 non-null    object
 15  Q10_Part_16  7174 non-null   object
 16  Q10_OTHER    737 non-null    object
dtypes: object(17)
memory usage: 3.4+ MB

None

--------
Las columnas de este DataFrame son Index(['Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5',
       'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10',
       'Q10_Part_11', 'Q10_Part_12', 'Q10_Part_13', 'Q10_Part_14',
       'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER'],
      dtype='object')
----------
Tipo de dato de las columnas de este DataFrame:Q10_Part_1     object
Q10_Part_2     object
Q10_Part_3     object
Q10_Part_4     object
Q10_Part_5     object
Q10_Part_6     object
Q10_Part_7     object
Q10_Part_8     object
Q10_Part_9     object
Q10_Part_10    object
Q10_Part_11    object
Q10_Part_12    object
Q10_Part_13    object
Q10_Part_14    object
Q10_Part_15    object
Q10_Part_16    object
Q10_OTHER      object
dtype: object

In [14]:
df_exploracion(conversion_txt)

TamaÃ±o del DataFrame: 675298
---------
(El nÃºmero de filas y columnas del DataFrame: (25973, 26)
----------
DescripciÃ³n estadÃ­stica del DataFrame:

,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
count,25973,25973,25973,25973,24940,24720,24403,23754,16325,16251,...,18489,24941,24934,24582,23970,19624,19315,15635,9484,9399
unique,66,7,15,7,13,6,5,9,18,5,...,6,825,1330,26,467,1401,756,96,1558,392
top,India,Masterâ€™s degree,Student,1-3 years,Python,A laptop,Never,< 1 year,Computers/Technology,0-49 employees,...,"Basic statistical software (Microsoft Excel, G...",Python,Jupyter Notebook,None,"Matplotlib ,Seaborn",Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,None
freq,7434,10132,6804,7874,20213,16231,16457,9163,4079,5055,...,7246,4740,2341,13234,5697,2688,1807,2891,2297,4123

--------
InformaciÃ³n general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q3      25973 non-null  object
 1   Q4      25973 non-null  object
 2   Q5      25973 non-null  object
 3   Q6      25973 non-null  object
 4   Q8      24940 non-null  object
 5   Q11     24720 non-null  object
 6   Q13     24403 non-null  object
 7   Q15     23754 non-null  object
 8   Q20     16325 non-null  object
 9   Q21     16251 non-null  object
 10  Q22     16126 non-null  object
 11  Q23     15952 non-null  object
 12  Q25     15391 non-null  object
 13  Q26     15183 non-null  object
 14  Q33     4656 non-null   object
 15  Q35     2237 non-null   object
 16  Q41     18489 non-null  object
 17  Q7      24941 non-null  object
 18  Q9      24934 non-null  object
 19  Q12     24582 non-null  object
 20  Q14     23970 non-null  object
 21  Q16     19624 non-null  object
 22  Q17     19315 non-null  object
 23  Q24     15635 non-null  object
 24  Q32     9484 non-null   object
 25  Q34     9399 non-null   object
dtypes: object(26)
memory usage: 5.2+ MB

None

--------
Las columnas de este DataFrame son Index(['Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22',
       'Q23', 'Q25', 'Q26', 'Q33', 'Q35', 'Q41', 'Q7', 'Q9', 'Q12', 'Q14',
       'Q16', 'Q17', 'Q24', 'Q32', 'Q34'],
      dtype='object')
----------
Tipo de dato de las columnas de este DataFrame:Q3     object
Q4     object
Q5     object
Q6     object
Q8     object
Q11    object
Q13    object
Q15    object
Q20    object
Q21    object
Q22    object
Q23    object
Q25    object
Q26    object
Q33    object
Q35    object
Q41    object
Q7     object
Q9     object
Q12    object
Q14    object
Q16    object
Q17    object
Q24    object
Q32    object
Q34    object
dtype: object

In [15]:
df_exploracion(conversion_xml)

TamaÃ±o del DataFrame: 77919
---------
(El nÃºmero de filas y columnas del DataFrame: (25973, 3)
----------
DescripciÃ³n estadÃ­stica del DataFrame:

               time
count  2.597300e+04
mean   1.105466e+04
std    1.014716e+05
min    1.200000e+02
25%    4.430000e+02
50%    6.560000e+02
75%    1.038000e+03
max    2.488653e+06

--------
InformaciÃ³n general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    25973 non-null  int64
 1   age     25973 non-null  object
 2   gender  25973 non-null  object
dtypes: int64(1), object(2)
memory usage: 608.9+ KB

None

--------
Las columnas de este DataFrame son Index(['time', 'age', 'gender'], dtype='object')
----------
Tipo de dato de las columnas de este DataFrame:time       int64
age       object
gender    object
dtype: object

### UNIÃ“N EN UN ÃšNICO DATAFRAME

In [16]:
pd.options.display.max_columns=None

In [17]:
df_union_final = pd.concat([conversion_xml, conversion_txt, csv1, csv2], axis=1)
df_union_final.head(2)

,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,910,50-54,Man,India,Bachelorâ€™s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, Oâ€™Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,784,50-54,Man,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Data Studio,NaN,NaN,NaN,NaN,Qlik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Guardamos el dataframe en un archivo csv
df_union_final.to_csv('../datos/Dataframe_unido.csv')

### UNIFICAR LAS COLUMNAS QUE SE DIVIDEN EN VARIAS PARTES

In [19]:
def unir_col(*args):
   """
   FunciÃ³n que nos permite crear un string con las entradas con el 
   mismo Ã­ndice, de varias columnas de una dataframe.
      
   Args: 
      Las columnas de un dataframe.
         
   Return:
      Un string 
      
   """
   lista = [str(x) for x in args if str(x) != 'nan']
   return ' '.join(lista)

In [20]:
# Unimos las Q10
df_union_final['Q10'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q10_Part_1'], dataframe['Q10_Part_2'], dataframe['Q10_Part_3'], dataframe['Q10_Part_4'],
                                          dataframe['Q10_Part_5'], dataframe['Q10_Part_6'], dataframe['Q10_Part_7'], dataframe['Q10_Part_8'], dataframe['Q10_Part_9'],
                                          dataframe['Q10_Part_10'], dataframe['Q10_Part_11'],dataframe['Q10_Part_12'], dataframe['Q10_Part_13'], dataframe['Q10_Part_14'], 
                                          dataframe['Q10_Part_15'], dataframe['Q10_Part_16'], dataframe['Q10_OTHER']), axis = 1)

In [21]:
# Unimos las Q18
df_union_final['Q18'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q18_Part_1'], dataframe['Q18_Part_2'], dataframe['Q18_Part_3'], dataframe['Q18_Part_4'], 
                                                dataframe['Q18_Part_5'], dataframe['Q18_Part_6'], dataframe['Q18_OTHER']), axis = 1)

In [22]:
# Unimos las Q19
df_union_final['Q19'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q19_Part_1'], dataframe['Q19_Part_2'], dataframe['Q19_Part_3'], dataframe['Q19_Part_4'], 
                                                dataframe['Q19_Part_5'], dataframe['Q19_OTHER']), axis = 1)

In [23]:
# Unimos las Q27
df_union_final['Q27-A'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q27_A_Part_1'], dataframe['Q27_A_Part_2'],dataframe['Q27_A_Part_3'], dataframe['Q27_A_Part_4'], 
                                                    dataframe['Q27_A_Part_5'], dataframe['Q27_A_Part_6'], dataframe['Q27_A_Part_7'], dataframe['Q27_A_Part_8'], 
                                                    dataframe['Q27_A_Part_9'], dataframe['Q27_A_Part_10'], dataframe['Q27_A_Part_11'], dataframe['Q27_A_OTHER']), axis = 1)

In [24]:
df_union_final['Q27-B'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q27_B_Part_1'],dataframe['Q27_B_Part_2'],dataframe['Q27_B_Part_3'], dataframe['Q27_B_Part_4'],
                                                    dataframe['Q27_B_Part_5'], dataframe['Q27_B_Part_6'], dataframe['Q27_B_Part_7'], dataframe['Q27_B_Part_8'], 
                                                    dataframe['Q27_B_Part_9'], dataframe['Q27_B_Part_10'], dataframe['Q27_B_Part_11'], dataframe['Q27_B_OTHER']), axis = 1)

In [25]:
# Unimos las Q29
df_union_final['Q29-A'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q29_A_Part_1'],dataframe['Q29_A_Part_2'],dataframe['Q29_A_Part_3'], dataframe['Q29_A_Part_4'], 
                                                    dataframe['Q29_A_OTHER']), axis = 1)

In [26]:
df_union_final['Q29-B'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q29_B_Part_1'],dataframe['Q29_B_Part_2'],dataframe['Q29_B_Part_3'],
                                                    dataframe['Q29_B_Part_4'], dataframe['Q29_B_OTHER']), axis = 1)

In [27]:
# Unimos las Q30
df_union_final['Q30-A'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q30_A_Part_1'],dataframe['Q30_A_Part_2'],dataframe['Q30_A_Part_3'], dataframe['Q30_A_Part_4'], 
                                                    dataframe['Q30_A_Part_5'], dataframe['Q30_A_Part_6'], dataframe['Q30_A_Part_7'], dataframe['Q30_A_OTHER']), axis = 1)

In [28]:
df_union_final['Q30-B'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q30_B_Part_1'],dataframe['Q30_B_Part_2'],dataframe['Q30_B_Part_3'], dataframe['Q30_B_Part_4'],
                                                    dataframe['Q30_B_Part_5'], dataframe['Q30_B_Part_6'], dataframe['Q30_B_Part_7'], dataframe['Q30_B_OTHER']), axis = 1)

In [29]:
# Unimos las Q31
df_union_final['Q31-A'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q31_A_Part_1'],dataframe['Q31_A_Part_2'],dataframe['Q31_A_Part_3'], dataframe['Q31_A_Part_4'], 
                                                    dataframe['Q31_A_Part_5'], dataframe['Q31_A_Part_6'], dataframe['Q31_A_Part_7'], dataframe['Q31_A_Part_8'], 
                                                    dataframe['Q31_A_Part_9'], dataframe['Q31_A_OTHER']), axis = 1)

In [30]:
df_union_final['Q31-B'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q31_B_Part_1'],dataframe['Q31_B_Part_2'],dataframe['Q31_B_Part_3'], dataframe['Q31_B_Part_4'], 
                                                    dataframe['Q31_B_Part_5'], dataframe['Q31_B_Part_6'], dataframe['Q31_B_Part_7'], dataframe['Q31_B_Part_8'], 
                                                    dataframe['Q31_B_Part_9'], dataframe['Q31_B_OTHER']), axis = 1)

In [31]:
df_union_final['Q32-B'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q32_B_Part_1'],dataframe['Q32_B_Part_2'],dataframe['Q32_B_Part_3'], dataframe['Q32_B_Part_4'], 
                                                    dataframe['Q32_B_Part_5'], dataframe['Q32_B_Part_6'], dataframe['Q32_B_Part_7'], dataframe['Q32_B_Part_8'], 
                                                    dataframe['Q32_B_Part_9'], dataframe['Q32_B_Part_10'], dataframe['Q32_B_Part_11'], dataframe['Q32_B_Part_12'],
                                                    dataframe['Q32_B_Part_13'], dataframe['Q32_B_Part_14'], dataframe['Q32_B_Part_15'], dataframe['Q32_B_Part_16'], 
                                                    dataframe['Q32_B_Part_17'], dataframe['Q32_B_Part_18'], dataframe['Q32_B_Part_19'], dataframe['Q32_B_Part_20'], 
                                                    dataframe['Q32_B_OTHER']), axis = 1)

In [32]:
df_union_final['Q34-B'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q34_B_Part_1'], dataframe['Q34_B_Part_2'], dataframe['Q34_B_Part_3'], 
                                                    dataframe['Q34_B_Part_4'], dataframe['Q34_B_Part_5'], dataframe['Q34_B_Part_6'], dataframe['Q34_B_Part_7'], 
                                                    dataframe['Q34_B_Part_8'], dataframe['Q34_B_Part_9'], dataframe['Q34_B_Part_10'], dataframe['Q34_B_Part_11'], 
                                                    dataframe['Q34_B_Part_12'], dataframe['Q34_B_Part_13'], dataframe['Q34_B_Part_14'], dataframe['Q34_B_Part_15'],
                                                    dataframe['Q34_B_Part_16'], dataframe['Q34_B_OTHER']), axis = 1)

In [33]:
# UniÃ³n Q36
df_union_final['Q36-A'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q36_A_Part_1'],dataframe['Q36_A_Part_2'],dataframe['Q36_A_Part_3'], dataframe['Q36_A_Part_4'], 
                                                    dataframe['Q36_A_Part_5'], dataframe['Q36_A_Part_6'], dataframe['Q36_A_Part_7'], dataframe['Q36_A_OTHER']), axis = 1)

In [34]:
df_union_final['Q36-B'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q36_B_Part_1'],dataframe['Q36_B_Part_2'],dataframe['Q36_B_Part_3'], dataframe['Q36_B_Part_4'], 
                                                    dataframe['Q36_B_Part_5'], dataframe['Q36_B_Part_6'], dataframe['Q36_B_Part_7'], dataframe['Q36_B_OTHER']), axis = 1)

In [35]:
# UniÃ³n Q37
df_union_final['Q37-A'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q37_A_Part_1'],dataframe['Q37_A_Part_2'],dataframe['Q37_A_Part_3'], dataframe['Q37_A_Part_4'], 
                                                    dataframe['Q37_A_Part_5'], dataframe['Q37_A_Part_6'], dataframe['Q37_A_Part_7'], dataframe['Q37_A_OTHER']), axis = 1)

In [36]:
df_union_final['Q37-B'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q37_B_Part_1'],dataframe['Q37_B_Part_2'],dataframe['Q37_B_Part_3'], dataframe['Q37_B_Part_4'], 
                                                    dataframe['Q37_B_Part_5'], dataframe['Q37_B_Part_6'], dataframe['Q37_B_Part_7'], dataframe['Q37_B_OTHER']), axis = 1)

In [37]:
# UniÃ³n Q38
df_union_final['Q38-A'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q38_A_Part_1'],dataframe['Q38_A_Part_2'],dataframe['Q38_A_Part_3'], dataframe['Q38_A_Part_4'],
                                                    dataframe['Q38_A_Part_5'], dataframe['Q38_A_Part_6'], dataframe['Q38_A_Part_7'], dataframe['Q38_A_Part_8'], 
                                                    dataframe['Q38_A_Part_9'], dataframe['Q38_A_Part_10'], dataframe['Q38_A_Part_11'], dataframe['Q38_A_OTHER']), axis = 1)

In [38]:
df_union_final['Q38-B'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q38_B_Part_1'],dataframe['Q38_B_Part_2'],dataframe['Q38_B_Part_3'], dataframe['Q38_B_Part_4'], 
                                                    dataframe['Q38_B_Part_5'], dataframe['Q38_B_Part_6'], dataframe['Q38_B_Part_7'], dataframe['Q38_B_Part_8'], 
                                                    dataframe['Q38_B_Part_9'], dataframe['Q38_B_Part_10'], dataframe['Q38_B_Part_11'], dataframe['Q38_B_OTHER']), axis = 1)

In [39]:
# UniÃ³n Q39
df_union_final['Q39'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q39_Part_1'],dataframe['Q39_Part_2'],dataframe['Q39_Part_3'], dataframe['Q39_Part_4'], 
                                                    dataframe['Q39_Part_5'], dataframe['Q39_Part_6'], dataframe['Q39_Part_7'], dataframe['Q39_Part_8'], dataframe['Q39_Part_9'],
                                                    dataframe['Q39_OTHER']), axis = 1)

In [40]:
# UniÃ³n Q40
df_union_final['Q40'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q40_Part_1'],dataframe['Q40_Part_2'],dataframe['Q40_Part_3'], dataframe['Q40_Part_4'], 
                                                    dataframe['Q40_Part_5'], dataframe['Q40_Part_6'], dataframe['Q40_Part_7'], dataframe['Q40_Part_8'], dataframe['Q40_Part_9'],
                                                    dataframe['Q40_Part_10'], dataframe['Q40_Part_11'], dataframe['Q40_OTHER']), axis = 1)

In [41]:
# UniÃ³n Q42
df_union_final['Q42'] = df_union_final.apply(lambda dataframe: unir_col(dataframe['Q42_Part_1'],dataframe['Q42_Part_2'],dataframe['Q42_Part_3'], dataframe['Q42_Part_4'], 
                                                    dataframe['Q42_Part_5'], dataframe['Q42_Part_6'], dataframe['Q42_Part_7'], dataframe['Q42_Part_8'], dataframe['Q42_Part_9'],
                                                    dataframe['Q42_Part_10'], dataframe['Q42_Part_11'], dataframe['Q42_OTHER']), axis = 1)

In [42]:
df_union_final.head(2)

,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q10,Q18,Q19,Q27-A,Q27-B,Q29-A,Q29-B,Q30-A,Q30-B,Q31-A,Q31-B,Q32-B,Q34-B,Q36-A,Q36-B,Q37-A,Q37-B,Q38-A,Q38-B,Q39,Q40,Q42
0,910,50-54,Man,India,Bachelorâ€™s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, Oâ€™Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colab Notebooks,"General purpose image/video tools (PIL, cv2, s...","Word embeddings/vectors (GLoVe, fastText, word...",Google Cloud Platform (GCP),,Google Cloud Compute Engine,,Google Cloud Storage (GCS),,No / None,,,,No / None,,,,No / None,,GitHub Kaggle,Coursera edX Kaggle Learn Courses DataCamp Uda...,"Email newsletters (Data Elixir, O'Reilly Data ..."
1,784,50-54,Man,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Data Studio,NaN,NaN,NaN,NaN,Qlik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Notebooks Colab Notebooks,,,,Google Cloud Platform (GCP) Oracle Cloud,,Google Cloud Compute Engine,,,,None,MySQL SQLite Oracle Database Google Cloud SQL,Google Data Studio Qlik,,"Automated model selection (e.g. auto-sklearn, ...",,Google Cloud AutoML,,None,,Kaggle Learn Courses Cloud-certification progr...,"Journal Publications (peer-reviewed journals, ..."

In [43]:
#Eliminamos todas las columnas que pertenecen a las preguntas suplementarias porque pertenecen a un pÃºblico no especializado.
for i in df_union_final:
    if '10' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '13' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '15' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '17' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '18' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '19' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '26' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '27' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '29' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '30' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '31' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '32' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '33A' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '34' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '35' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '36' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '37' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '38' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif 'Q39_Part_' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif 'Q39_OTHER' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '40' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '41' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    elif '42' in i:
        df_union_final.drop([i],axis = 1, inplace = True)
    
    df_union_final

In [44]:
df_union_final.head(2)

,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q20,Q21,Q22,Q23,Q25,Q33,Q7,Q9,Q12,Q14,Q16,Q24,Q28,Q39
0,910,50-54,Man,India,Bachelorâ€™s degree,Other,5-10 years,Python,A laptop,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",NaN,"Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret",None of these activities are an important par...,NaN,GitHub Kaggle
1,784,50-54,Man,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",NaN,"SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,Build and/or run the data infrastructure that...,NaN,

In [45]:
# Guardamos el dataframe en un archivo csv
df_union_final.to_csv('../datos/Dataframe_cols_unificadas.csv')